* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color);

}

:root {
    --main-color: #F0F4EF;
    --text-color: #0063B8;
    --secondary-color:#EEE5E9 ;
    --secondary-text-color: #FDFFFC ;
    --tertiary-text-color: #272727;

}

/*cabeçalho*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.bi-rocket-takeoff {
    font-size: 4rem;
    padding: 1rem 6rem;
    color: var(--text-color);
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding-right: 4rem;
    text-transform: uppercase;
    scroll-behavior:smooth;
    
}
#navbar i {
    font-size: 1.5rem;
    font-weight: bold;
}



a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--tertiary-text-color);
    font-weight: bolder;
    padding: 0.2rem 2rem;
    
}
.externo {
    padding: 0px;
}

main a, em {
    color: var(--text-color);
}

a.externo::after {
    content: "\1F517";
    
}
a.externo:hover {
    text-decoration: underline;
    transition-duration: 1ms;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    color: var(--text-color);
    transition: 0.1s;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #4242423d;

}


/* main */

main h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--tertiary-text-color);
}

main span {
    color: var(--text-color);
    font-weight: 900;
}

.job {
    text-align: center;
    font-size: 1.5rem;
    color: var(--tertiary-text-color);
    margin-bottom: 20px;
}

.description {
    max-width: 80%;
    font-size: 1.2rem;
    margin: auto;
    text-align: justify;
    color: var(--tertiary-text-color);
    text-indent: 20px;
    line-height: 30px;
    font-weight: normal;
}

/*Projects*/


.subtitle {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    font-weight: bold;
    margin-top: 30px;


}

#projects {
    font-size: 1.7rem;
    text-align: center;
    margin: auto;

}

.div-projects {
    display: flex;
    justify-content: center;
    gap: 4rem;   
    margin-top: 15px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    

    
}

.div-projects .project {
    width: 300px;
    height: 300px;
    background-color: var(--tertiary-text-color);
    color: var(--secondary-text-color);
    line-height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.404);

}

/* skills */

.div-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: flex-end;
}

.bi-filetype-html, .bi-filetype-css, .bi-filetype-js {
    font-size: 10rem;
    color: var(--tertiary-text-color);

}

#topo {
    display: flex;
    justify-content: flex-end;
}

.bi-arrow-up-square {
    width: 100vw;
    height: 100vh;
    margin-right: 50px;
    font-size: 2rem;
    color:var(--text-color);


}

/* contato*/

section form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: left;
    font-size: 1.2rem;
}

section form input {
    outline: none;
}

section form label {
    text-align: left;
    margin-top: 15px;
    font-size: 1rem;
}

input {
    max-width: 80vw;
    height: 30px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;

}

textarea {
    max-width: 80vw;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding-top: 5px;
    padding-left: 10px;
    border: 1px solid;
    
}

.enviar {
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin: 10px 0px 0px;
    cursor:pointer;
    outline: none;
    border: 1px solid var(--tertiary-text-color);
    border-radius: 5px;
}

.enviar:hover {
    color: var(--text-color);
    transition: 0.1s;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #918e8e1a;
}
/* footer */

footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top:20px;



}

footer {
    display: flex;
    justify-content: center;

}

footer a {

    margin: 2px;
    text-align: center;
    color: var(--tertiary-text-color);

}
