* 
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(../img/bg.jpg);
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

:root {
    --main-color: #F0F4EF;
    --text-color: #0063B8;
    --secondary-color:#EEE5E9;
    --secondary-text-color: #FDFFFC;
    --tertiary-text-color: #272727;

}

/*cabeçalho*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

}

.bi-rocket-takeoff {
    font-size: 5rem;
    padding: 3rem 6rem;
    color: var(--text-color);
}

.externo {
    padding: 0px;
}


main a, em {
    color: var(--text-color);
}

a.externo::after {
    content: "\1F517";
    
}
a.externo:hover {
    text-decoration: underline;
    transition-duration: 1ms;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    color: var(--secondary-text-color);
    background-color: var(--text-color);
    transition: 0.1s;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #4242423d;

}

#skills01, #projects01, #contact01 {
    margin-bottom: 30px;
}

/* main */

.line {
    margin: auto;
    border-bottom: 2px solid var(--text-color);
    width: 100%;
    margin-bottom: 20px;
}

main h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--tertiary-text-color);
}

main span {
    color: var(--text-color);
    font-weight: 900;
}

.job {
    text-align: center;
    font-size: 1.5rem;
    color: var(--tertiary-text-color);
    margin-bottom: 20px;
}

.description {
    max-width: 90%;
    font-size: 1.2rem;
    margin: auto;
    text-align: justify;
    color: var(--tertiary-text-color);
    text-indent: 20px;
    line-height: 30px;
    font-weight: normal;
}

.description p {
    margin-bottom: 8px;
    padding-bottom: 1rem;
}

/*Projects*/


.subtitle {
    text-align: left;
    color:var(--secondary-text-color);
    background-color: var(--tertiary-text-color);
    padding: 15px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, black 10%, var(--text-color)90%);


}

#projects {
    font-size: 1.7rem;
    text-align: center;
    margin: auto;

}

.div-projects {
    display: flex;
    justify-content: center;
    gap: 2rem;   
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 10px;  

    
}

.div-projects .project {
    width: 250px;
    height: 250px;
    background-color: var(--text-color);
    color: var(--main-color);
    line-height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.404);
    border: 1px solid var(--tertiary-text-color);

}

/* skills */


.div-skills {
    width: 100%;
    text-align: center;
    gap: 5rem;
   
}

.bi-filetype-html, .bi-filetype-css, .bi-filetype-js {
    font-size: 10rem;

}

.bi-filetype-html {
    color: #E36527;
}

.bi-filetype-css {
    color: var(--text-color);

}

.bi-filetype-js {
    color: #EAD41C;
}

#topo {
    display: flex;
    justify-content: flex-end;
}

.bi-arrow-up-square {
    width: 100vw;
    height: 100vh;
    margin-right: 4rem;
    font-size: 2rem;
    color:var(--text-color);

}

.bootstrap, .react {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bootstrap p {
    text-align: left;
    max-width: 80%;
}

.react p {
    max-width: 80%;
    text-align: justify;
}

.logo {
    max-width: 100px;
}

.backend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

.backend img {
    max-width: 100px;
    padding: 10px;
}

h3#grade {
    margin: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color:var(--text-color);
    padding: 10px 0px;
}

.backend p {
    font-size: 1.5rem;
    color: var(--tertiary-text-color);
    font-weight: bold;
}


/* contato*/

section form {

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 1.2rem;
}

section form input {
    outline: none;
}
input#name, #email, #assunto {
    font-size: 1rem;
    width: 100%;
}

section form label {
    text-align: left;
    margin-top: 15px;
    font-size: 1rem;
}

input {
    max-width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;

}

textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding-top: 5px;
    padding-left: 10px;
    border: 1px solid;
    
}

.enviar {
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin: 10px 0px 0px;
    cursor:pointer;
    outline: none;
    border: 1px solid var(--tertiary-text-color);
    border-radius: 5px;
    font-weight: bold;
    line-height: 30px;
    background-color:beige;
}

.enviar:hover {
    color: var(--secondary-text-color);
    transition: 0.1s;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #918e8e1a;
    font-weight: bold;
    background-color: var(--text-color);
}
/* footer */

footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;

}

footer a {

    margin: 2px;
    text-align: center;
    color: var(--tertiary-text-color);

}

/* media query */

@media (min-width: 300px) {
    body {
        width: 95%;
        margin: auto;
    }

    .line {
        width: 100%;
        margin: auto;
    }
    #navbar {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .bi-rocket-takeoff {
        font-size: 7rem;
        padding-top: 0;

    }

    .aboutMe {
        width: 100%;
    }

    .aboutMe h1 {
        margin-top: 1rem;
        font-size: 2.5rem;
        line-height: 40px;
    }

    #name {
        font-size: 2rem; 
    }

    .job {
        width: 95%;
        font-size: 1.1rem;
        text-align: center;
        margin: auto;
        padding-bottom: 1rem;
    }

    .description {
        width: 95%;
    }


    .div-projects {
        display: flex;
        flex-direction: column;
        line-height: 250px;
        height: 250px;
        margin-bottom: 3rem;
       
    }
    .breve-02 {
        display: none;   

    }
    .breve-01 {
        margin: auto;

    }

    .subtitle {
        width: 100%;
    }


    #grade {
        font-size: 3rem;
        width: 100%;
        margin: auto;
        line-height: 3rem;
 }

 .backend {
    width: 100%;
 }
 .backend img {
    padding-right: 30px;
 }

  .backend p{
    font-size: 1.2rem;

  }

  .logo {
    display: block;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .bi-filetype-html, .bi-filetype-css, .bi-filetype-js {
    font-size: 6rem;
  }

  section #contact {
    width: 100vw;
  }

  section input {
    margin:auto;
  }

  section textarea {
    margin:auto ;
    width: 100%;
  }

  @media (min-width: 800px) {
    
    .aboutMe h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    #name {
        font-size: 3rem; 
    }

    .job {
        font-size: 2rem;
    }

    .breve-02 {
        display: block;   

    }
    body {
        max-width: 80%;
    }
    
  }
}
