@charset "UTF-8";

body {
    background-color:white;

}

header {
    text-align:center;
    margin: 50px;
    color:white;
}

section {
    background-color:rgb(255, 255, 255);
    margin:auto;
    width: 350px;
    height:350px;
    border:2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.481);
}

div#msg {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div#img {
    margin:auto;
    text-align: center;

}

footer {
    padding: 10px;
    text-align: center;
    color:white;
}
