* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}


@font-face {
    font-family: 'doces';
    src: url(../Egg\ Hunter.ttf) format('truetype');
}

:root {
    --main-color: #EF476F;
    --secondary-color: #06D6A0;
    --tertiary-color: #256EFF;
}

#header-top {
    position: fixed;
    width: 100%;
    height: 90px;
    background-image: url(../img/strawberry\ drop-shaped\ sweet\ candy_5569169.png);
    background-size: 200px 200px;
    background-position: center;
}


#menu {
    padding-left: 5rem;
    padding-top: 6.5rem;
    position: relative;
  

}
#menu ion-icon {
    color:var(--main-color);
    font-size: 2rem;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    transition: .5s;
    
}

#menu ion-icon:hover {
    color: var(--tertiary-color);
}


span {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    color: var(--main-color);
    font-weight: bold;
    margin-left: .5rem;
    font-size: 1.2rem;
    
}


#options .list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: .5rem;


}

ul {
    background-color:#FFF;
    width: 160px;  
    opacity: 1;   
    border-right: 1px solid var(--main-color);

}

.list-menu a {
    text-decoration: none;
    background-color: var(--main-color);
    color:#FFF;
    opacity: .8;
    transition: .5s;
    width: 130px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border: 1 solid var(--main-color);
    border-radius: 3px;
    
    

}

.list-menu a:hover {   
    color:#FFF;    
    background-color: var(--main-color);
    border: 1px solid #FFF;
    opacity: 1;
    
    

}

#title h1 {
    position: fixed;   
    left: 50%;    
    top: 20%;
    transform: translate(-50%, -50%);
    font-family: 'doces';
    font-size: 5rem;
    color:var(--main-color)
}



.hide {
    display: none;
}

@media(max-width:500px) {
    #menu {
        position: static !important;
    }
}   


