* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}


@font-face {
    font-family: 'doces';
    src: url(../Egg\ Hunter.ttf) format('truetype');
}

:root {
    --main-color: #EF476F;
    --secondary-color: #06D6A0;
    --tertiary-color: #256EFF;
}

#header-top {
    position: absolute;
    width: 100%;
    height: 90px;
    background-image: url(../img/strawberry\ drop-shaped\ sweet\ candy_5569169.png);
    background-size: 200px 200px;
    background-position: center;
}



#title {
    padding-top: 80px;
    font-family: 'doces';
}
#title h1 {
    margin: auto;
    max-width: 90%;
    margin-bottom: 10px;
    font-family: 'doces';
    font-size: 5rem;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);

}

.container {
    margin:auto;
    text-align:center;
}

.menu-btn {
    font-size: 1.5rem;
    color:var(--main-color)
}


#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    height: 20px;
    font-size: 1.2rem;
    padding: 1rem;
    color:var(--tertiary-color);
    position: relative;
    transition: .5s ease-in-out;
}


nav a::after{  
    content: " ";
    width: 0%;
    height:2px;
    background-color: var(--tertiary-color);
    position:absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;

}

nav a:hover::after {
    width: 100%;
    background-color: var(--tertiary-color);
}
.hide {
    display: none;
}

/*media query*/

@media (max-width:480px) {
    
    #title {
        padding-top: 60px;
        font-family: 'doces';
    }    
    
    #navigation {
        display: block;
        
    }
    nav a{
        margin: auto;
        display: block;
        height: 50px;
        margin-bottom: 15px;
        flex-direction: column;
        color: #FFF;
        font-weight: bold;
        justify-content: center;
        width: 90%;
        background-color: var(--main-color);
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.355);

    }
    .menu-btn {
        font-size: 3rem;
        margin-bottom: 10px;
        color:var(--main-color)
    }
}